Django>=4.2,<5.0
django-two-factor-auth==1.14.0
qrcode[pil]==7.4.1
cryptography==41.0.4
ipython==8.16.1
psycopg2-binary==2.9.6
python-dotenv==1.0.0
argon2-cffi==21.3.0
django-two-factor-auth==1.14.0
phonenumbers==9.3.17