{% extends "two_factor/_base.html" %}
{% block content %}
<h2>Password List</h2>
<ul>
    {% for entry in entries %}
    <li>
        {{ entry.website }} - {{ entry.username }}
        <div>
            <a href="{% url 'view_password' entry.pk %}">
                <button>
                    View
                </button>
            </a>
            <a href="{% url 'delete_password' entry.pk %}">
                <button style="background-color: rgb(132, 18, 18);">
                    Delete
                </button>
            </a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}