{% extends "two_factor/_base.html" %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <h2>User Profile</h2>
    </div>
    <div class="profile-details">
        <img src="{{ user.picture | default:'/static/images/default.png' }}" alt="Profile Picture"
            class="profile-picture">
        <h2>{{ request.user.username }}</h2>
        <ul>
            {% for key, value in user_details.items %}
            <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Two-Factor Authentication</h2>
        {% if user.is_verified %}
        <p  style="color: green;">2fa is enabled.</p>
        <a href="{% url 'two_factor:setup' %}">Change Settings</a>
        {% else %}
        <p>2fa is disabled.</p>
        <a href="{% url 'two_factor:setup' %}">Enable 2fa</a>
        {% endif %}
    </div>
    <div>
        <div class="account-manager-links"></div>
            <h2>Account Management</h2>
            <ul>
                <li><a href="{% url 'password_change' %}">Change Password</a></li>
                <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}